.Hero {
  background: url("../../images/background2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  margin-top: -180px;
}
.HeroGroup {
  margin: 0 auto;
  max-width: 800px;
  padding: 150px 50px;
  text-align: center;
}
.Hero h1 {
  margin: 0;
  color: #fff;
  font-size: 60px;
  line-height: 1.2;
  opacity: 0;
  animation: HeroAnimation 3s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Hero p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  line-height: 1.5;
  opacity: 0;
  animation: HeroAnimation 3s 0.4s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Hero .btn {
  background: rgba(0, 0, 0, 0.7);
  padding: 9px 20px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  transition: 0.8s cubic-bezier(0.02, 0.8, 0.2, 1);
}
.Hero .btn a {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 600;
}
.Hero .btn:hover a {
  color: #000;
}
.Hero .btn:hover {
  background: #fff;
  cursor: pointer;
  transform: scale(1.2);
}
@media screen and (max-width: 640px) {
  .HeroGroup {
    padding: 100px 20px;
  }
  .Hero h1 {
    font-size: 40px;
  }
  .Hero p {
    font-size: 24px;
  }
  .Hero {
    margin-top: -80px;
  }
}
@keyframes HeroAnimation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.Hero svg {
  position: absolute;
  bottom: 0;
  left: 0;
}
.Hero .Logos {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 40px;
  margin: 100px 0;
  justify-items: center;
}

@media (max-width: 640px) {
  .Hero .Logos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 360px) {
  .Hero .Logos {
    display: none;
  }
}
